{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	{%include 'header.html'%}
	<div class="text_about"><caption>About Us.</caption></div>
	<div class="p1"><p>Welcome to Navjeevan Blood Bank, a beacon of hope and a vital contributor to the health and well-being of our community. Founded with a vision to save lives and support healthcare systems, our blood bank stands as a testament to the power of compassion and community service. At Navjeevan Blood Bank, our mission is to ensure a reliable and safe blood supply for patients in need. We are dedicated to collecting, testing, and distributing blood with the highest standards of safety and efficiency. Our goal is to be a pivotal link between donors' generosity and recipients' needs, affirming the value of every drop of blood donated. We envision a world where no individual suffers due to a shortage of blood. Our aim is to foster a culture of voluntary blood donation, making it a civic duty and a humanitarian commitment. Through awareness, education, and innovation, we aspire to be at the forefront of blood banking and transfusion services.</p></div>	
</body>
</html>